div{padding:1px;}
img{border-radius: 10px;}
div.cardTable {
    width:700px;
    height:700px;
    border-style: solid;
    border-width:3px;
    position: fixed;
}
div.p0 {
    /*border-style: solid;*/
    /*border-width:3px;*/
    position: absolute;
    bottom: 0;
    left: 240px;
    height: 340px;
    width: 220px;
}
#p0pile {
    /*border-style: solid;*/
    /*border-width:3px;*/
    position: absolute;
    top: 75px;
    left: 0px;
    height: 100px;
    width: 230px;
}
#p0hand {
    /*border-style: solid;*/
    /*border-width:3px;*/
    position: absolute;
    top: 170px;
    left: 0px;
    height: 100px;
    width: 230px;

}
#p1hand {

    /*border-style: solid;*/
    /*border-width:3px;*/
    position: absolute;
    bottom: 175px;
    left: 0px;
    height: 100px;
    width: 230px;
}
#p1pile {
    /*border-style: solid;*/
    /*border-width:3px;*/
    position: absolute;
    bottom: 75px;
    left: 0px;
    height: 100px;
    width: 230px;
}
div.p1 {
    /*border-style: solid;*/
    /*border-width:3px;*/
    position: absolute;
    top: 0;
    left: 240px;
    height: 340px;
    width: 220px;
}
#passBtn {
    position: absolute;
    left: 35%;
    top: 70%;
}

.top {
    /*border-style: solid;*/
    /*border-width:2px;*/
    position: absolute;
    display:inline-block;
    top:0px;
    left:0px;
    width:50px;
    height:70px;
    z-index:10;
}
.bottom {
    /*border-style: solid;*/
    /*border-width:2px;*/
    position: absolute;
    display:inline-block;
    top:8px;
    left:8px;
    width:50px;
    height:70px;
}div.pile0 {
     /*border-style: solid;*/
     /*border-width:2px;*/
     position: absolute;
     display:inline-block;
     top:0px;
     left:0px;
     width:50px;
     height:70px;
 }
div.pile1 {
    /*border-style: solid;*/
    /*border-width:2px;*/
    position: absolute;
    display:inline-block;
    top:0px;
    width:50px;
    left:50px;
    height:70px;
}
div.pile2 {
    /*border-style: solid;*/
    /*border-width:2px;*/
    position: absolute;
    display:inline-block;
    top:0px;
    width:50px;
    left:100px;
    height:70px;
}
div.pile3 {
    /*border-style: solid;*/
    /*border-width:2px;*/
    position: absolute;
    display:inline-block;
    top:0px;
    width:50px;
    left:150px;
    height:70px;
}
div.p0dealer {
    /*border-style: solid;*/
    /*border-width:2px;*/
    position: absolute;
    bottom: 175px;
    left: 210px;
    height: 75px;
    width: 150px;
}
div.p1dealer {
    /*border-style: solid;*/
    /*border-width:2px;*/
    position: absolute;
    top: 175px;
    left: 210px;
    height: 75px;
    width: 150px;
}
.whosTurn {
    border-style: solid;
    border-width: medium;
    border-radius: 20px;
    border-color:green;
}
div.p0trick{
    /*border-style: solid;*/
    /*border-width:2px;*/
    position: absolute;
    top: -10px;
    left: 60px;
    height: 75px;
    width: 75px;
}
div.p1trick{
    /*border-style: solid;*/
    /*border-width:2px;*/
    position: absolute;
    bottom: 0px;
    left: 60px;
    height: 75px;
    width: 75px;
}
